@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

.carousel {
	width: 400px;
	height: 400px;
	perspective: 800px;
	margin-left: 400px;
	padding-top:10px
  }

  .carousel-content {
	position: relative;
	width: 100%;
	height: 100%;
	transform: translateZ(-500px) rotateY(0);
	transform-style: preserve-3d;
	animation: carousel 10s infinite cubic-bezier(1, 0.015, 0.295, 1.225)
	  forwards;
  }

  .carousel-item {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	-webkit-box-reflect: below 0px
	  linear-gradient(transparent, transparent, #00000040);
  }

  .carousel-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
  }

  .carousel-item:nth-child(1) {
	transform: rotateY(0) translateZ(500px);
  }

  .carousel-item:nth-child(2) {
	transform: rotateY(60deg) translateZ(500px);
  }

  .carousel-item:nth-child(3) {
	transform: rotateY(120deg) translateZ(500px);
  }

  .carousel-item:nth-child(4) {
	transform: rotateY(180deg) translateZ(500px);
  }

  .carousel-item:nth-child(5) {
	transform: rotateY(240deg) translateZ(500px);
  }

  .carousel-item:nth-child(6) {
	transform: rotateY(300deg) translateZ(500px);
  }

  /* Create a carousel animation  */
  @keyframes carousel {
	0%,
	8.3% {
	  transform: translateZ(-500px) rotateY(0);
	}
	16.6%,
	24.9% {
	  transform: translateZ(-500px) rotateY(-60deg);
	}
	33.2%,
	41.5% {
	  transform: translateZ(-500px) rotateY(-120deg);
	}
	49.8%,
	58.1% {
	  transform: translateZ(-500px) rotateY(-180deg);
	}
	66.4%,
	74.7% {
	  transform: translateZ(-500px) rotateY(-240deg);
	}
	83%,
	91.3% {
	  transform: translateZ(-500px) rotateY(-300deg);
	}
	100% {
	  transform: translateZ(-500px) rotateY(-360deg);
	}
  }

body
{
	background: #c087e7;

}
section
{
	position: relative;
	width: 100%;
	height: 100vh;
}
.fireworks
{
	position: fixed;
}
section.content
{
	z-index: 1;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
section:nth-child(2).content
{
	padding-top: 100vh;
}
section.content h2
{
	-webkit-text-stroke: 1px #fff;
	color: transparent;
	font-size: 8em;
	line-height: 0.9em;
}
section.content h2 c
{
	color: #fff;
	-webkit-text-stroke: 0 #fff;
}
section.content h2 span
{
	position: relative;
	background: #fff;
	font-size: 0.2em;
	display: inline-block;
	color: #000;
	padding: 0 10px;
	top: -30px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.5em;
	-webkit-text-stroke: 0px #fff;
}
::-webkit-scrollbar
{
	width: 0;
}
section.content img
{
	max-width: 300px;
    opacity: 0.5;
    mix-blend-mode: overlay;
}
.img{
	margin-left:450px;
	width:700px;
	height:400px
}
